
.reply {
    // font-size: 20px;
    color: #ffffff;
}

.text {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: left;
    // height: 100vh;
    color: #000;
}

.text p {
    margin: 0;
}

.elemtsSpacing {
    display: flex;
    margin: 2px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}