<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

  <!-- Next Steps -->
  <h2>Next Steps</h2>
  <p>What do you want to do next with your app?</p>

  <input type="hidden" #selection>
  <input type="hidden" #papuga>

  <div class="card-container">
    <button class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>New Component</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'build'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Build for Production</span>
    </button>
  </div>

  <!-- Terminal -->
  <div class="terminal content_consol" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>ng generate component xyz</pre>
      <pre *ngSwitchCase="'build'">{{ items }}</pre>
  </div>



  <div class="card-container">

    <button class="card card-small" (click)="papuga.value = 'Simple'" tabindex="0">
      <span>Simple way</span>
    </button>

    <button class="card card-small" (click)="papuga.value = 'Hard'" tabindex="0">
      <span>Hard way</span>
    </button>
  
  </div>



  <div class="terminal content_consol" [ngSwitch]="papuga.value">
    <pre *ngSwitchDefault="'Simple'">{{ items[0]}} </pre>
    <pre *ngSwitchCase="'Hard'">{{ items[1]}}</pre>

    <input type="number" [(ngModel)]="inputNumber">
    <button (click)="calculateFactorial()">Calculate Factorial</button>
    <div class="reply" *ngIf="factorialResult !== null">
      Result: {{ factorialResult }}
    </div>
  </div>



<router-outlet></router-outlet>
