  <input type="hidden" #selection>
  <input type="hidden" #papuga>
  <input type="hidden" #itemsSuma>

  <div>
    <p class="text card-container"> Przykład funkcji, która zwraca sumę dwóch liczb</p>
  </div>
  <app-sumat/>




  <div class="card-container">

    <button class="card card-small" (click)="papuga.value = 'Simple'" tabindex="0">
      <span>Simple way</span>
    </button>

    <button class="card card-small" (click)="papuga.value = 'Hard'" tabindex="0">
      <span>Hard way</span>
    </button>
  
  </div>

  <div>
    <p class="text card-container"> Przykład funkcji, która zwraca Funkcje</p>
  </div>

  <div class="terminal content_consol" [ngSwitch]="papuga.value">
    <pre *ngSwitchDefault="'Simple'">{{ items[0]}} </pre>
    <pre *ngSwitchCase="'Hard'">{{ items[1]}}</pre>

    <input type="number" [(ngModel)]="inputNumber">
    <button (click)="calculateFactorial()">Calculate Factorial</button>
    <div class="reply" *ngIf="factorialResult !== null">
      Result: {{ factorialResult }}
    </div>
  </div>


  <!-- <router-outlet/> -->

